html {
  scroll-behavior: smooth;
}

body {
	background: url("sky.jpg");
  background-size: cover;
	font-family: 'Avenir', sans-serif; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

.subtitle {
  left: 0;
  font-size:30px;
    line-height: 200px;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}


h1 {
	font-size: 68px;
  left: 0;
    line-height: 200px;
    margin-top: -180px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

}

span{
    font-size: 25px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: left;
    top: -55px;
    right: -55px;
    display:none;
    white-space: nowrap;

}
span:after{
    position:relative;
    bottom:-10px;
    width:10px;
    height:10px;
    margin-left:80px;
    white-space: nowrap;
    text-align: left;
}

p{
    margin:0px;
    float:left;
    position:absolute;
}

p:hover span{
    display:block;
}


#projects {
	text-align: right;
  align-items: right;
	font-size: 25px;
	line-height: 75px;
	right: 3%;
  top:3%;
  position: fixed;
}

#directory {
  text-align: left;
  margin-left: 40px;
  font-size: 35px;
  padding-top: 30px;
  position: fixed;
  top: 0%;
  left: 0%;
  line-height: 75px;

}

.octo {
  margin-left: 35px;
  position: fixed;
  top: 28%;
}
.octo-img {
  max-height: 35px;
  max-width: 35px;
}

#HiddenText {
    display: none;
    font-size:25px;
    margin-left: 55px;
    margin-top: 300px;
    position:fixed;
    color:green;
}

.octo:hover #HiddenText {
    display:block;
}

#translate {
  height: 100vh;
  margin-top: 100vh;
  font-size: 25px;
}

#vatt {
  height: 100vh;
  font-size: 25px;
}


#nlp {
  height: 100vh;
  font-size: 25px;
}

#novel {
  height: 100vh;
  font-size: 25px;
}

#language-diaries {
  height: 100vh;
  font-size: 25px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h2 {
	text-align: center;
  position: relative;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
  color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


