body {
    font-family: 'Avenir', sans-serif;
    background-image: url("sky.jpg");
	background-size: cover;
}

h1 {
	position: absolute;
	top: 34%;
	left: 37%;
	font-size: 75px;
  text-shadow: 2px 2px 4px white;
}

h1.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

h1:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.wrapper {
  overflow: hidden;
  background-image: url("sky.jpg");
	background-size: cover;
	position: fixed; 
    overflow-y: scroll;
    font-family: 'Avenir', sans-serif;
}

#cloud { 
    height: auto; 
    width: auto; 
    max-width: 20%; 
    max-height: 20%;
    overflow: hidden;
	position: fixed; 
    overflow-y: scroll;
}
.cloud {
	position: absolute;
	top: 20%;
 	animation: slide 90s linear infinite;
 	overflow: hidden;
	position: fixed; 
    overflow-y: scroll;
}

.sunray {
	position: absolute;
  right: -40%;
  top: -20%;
  margin-top: 0px;
}

.sunray-img {
  height: 100vh;
}

#directory {
  text-align: left;
  margin-left: 40px;
  font-size: 28px;
  padding-top: 30px;
  position: absolute;
  top: 0%;
  left: 0%;
  line-height: 75px;
}

a:link {
  text-decoration: none;
  text-shadow: 2px 2px 4px white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-position: left bottom;
}

a:active {
  text-decoration: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slide {
  0%{
    transform: translate3d(3600, 0, 0);
  }
  100%{
    transform: translate3d(-2075px, 0, 0);
  }
}